auto-save-list

forge-database.sqlite

smex-items
custom.el
ido.last
.mc-lists.el
projectile-bookmarks.eld
recentf
backups/
undo/
elpa/
history
transient
perspectives
eln-cache
perspectives_jansenh
session.*
tramp
.places
nov-places
